@media only screen and (min-width: 38rem) {
    /* Discover page */
    .discover-container section {
        grid-template-areas:
        "name name"
        "photo desc"
        "photo addr"
        "learnMoreButton learnMoreButton";
        text-align: left;
        grid-template-columns: 310px auto;
    }

    .discover-container section img {
        width: 300px;
    }

    .discover-container section img:hover {
        width: 300px;
        opacity:  0.5;
    }
}