:root {
    --main-background-color: #F4F5F4;
    --theme-text-color: #CFAB38;
    --gryffindor-text-color: #AE0001;
    --gryffindor-accent-color: #EEBA35;
    --slytherin-text-color: #0E5B51;
    --slytherin-accent-color: #A2A2A2;
    --ravenclaw-text-color: #0B5A89;
    --ravenclaw-accent-color: #A2ABB2;
    --hufflepuff-text-color: black;
    --hufflepuff-accent-color: #ECAF1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-background-color);
}

nav,
footer {
    color: var(--theme-text-color);
    background-color: black;
    text-align: center;
    font-family: "Inknut Antiqua", serif;
}

nav {
    padding: 1rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.image-text-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.5rem;
}

.nav-header-text {
    margin-left: auto;
    margin-right: auto;
}

#nav-logo-title {
    font-size: 200%;
    font-weight: bold;
    margin: 1.5rem 0 0.5rem 0;

}

.logo-image {
    margin-right: 1.25rem;
    width: 115px;
    height: 115px;
}

.nav-options {
    list-style: none;
    text-align: center;
    padding: 0;
}

#sub-nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

#sub-nav ul {
    overflow: hidden;
}

#sub-nav.open {
    grid-template-rows: 1fr;
}

.nav-options a {
    display: block;
    text-decoration: none;
    color: var(--theme-text-color);
    background-color: black;
    padding: 0.5rem;
}

.nav-options a:hover {
    color: black;
    font-weight: bold;
    background-color: var(--main-background-color);
}

.active::before {
    content: "*  ";
}

#menu {
    display: block;
    text-decoration: none;
    position: absolute;
    align-items: center;
}

/* Location of nav menu button */
#menu {
    top: 0.9rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
    font-size: 125%;
}

#menu.open::before {
    content: "❌";
    font-size: 125%;
}

.hero-callouts {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: var(--main-background-color);
}

.hero {
    grid-area: 1 / 1 / 2 / 2;
}

.hero img {
    width: 100%;
    height: auto;
}

.callouts-index {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
}

.callout-data-index {
    padding-bottom: 2.5rem;
    padding-right: 2rem;
}

.callout-data, h1 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    color: var(--gryffindor-text-color);
}

.callout-data-header>h1 {
    margin: 0.5rem 0 0.75rem 0;
}

.callout-data-header,
.callout-data-subheader {
    font-size: 125%;
}

.callout-data-subheader {
    padding-bottom: 1rem;
}

.display-options {
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-align: center;
}

.display-options button, #index-button {
    padding: 1rem;
    font-weight: bold;
    font-size: larger;
    font-family: "Roboto", sans-serif;
}

/* Got help with this button styling from a Bing search for "cool html button styles css" */
#index-button {
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(45deg, var(--gryffindor-accent-color), var(--gryffindor-text-color));
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 25px;
    transition: 0.3s ease;
    text-decoration: none;
}

#index-button:hover {
    background: linear-gradient(45deg, var(--gryffindor-text-color), var(--gryffindor-accent-color));
    transform: scale(1.1);
}

h1 {
    margin: 0;
}

#section1, #section2, #section3 {
    margin: 1rem;
    border: 0.5px solid var(--gryffindor-accent-color);
    background-color: white;
}

#sectionsContainer h2 {
    text-align: center;
    background-color: var(--gryffindor-accent-color);
    border: 0.5px solid var(--gryffindor-accent-color);
    padding: 0.5rem;    
}

.event-list {
    margin: 1rem 2rem;
    color: var(--ravenclaw-text-color);
}

.event-list li {
    line-height: 2em;
}

#current-weather-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

#current-weather-image-text-column1 img {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#current-weather-image-text-column2 {
    text-align: left;
    padding: 0.75rem 1rem;
}

#current-weather-image-text-column2 p {
    line-height: 1.5em;
    color: var(--slytherin-text-color);
}

#section3 p {
    line-height: 2em;
    font-size: larger;
    padding-left: 1rem;
}

.container, .sponsored-container,
.membership-levels-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.container section,
.membership-levels-container section {
    border: 0.5px solid black;
    border-radius: 5px;
    margin: 0.25rem 1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
}

.container h2 {
    font-size: 118%;
}

/* Got help for animation from Bing search for "css animation of html section element" */
.membership-levels-container section {
    border-radius: 0;
    animation: fadeInUp 1.5s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container section a, .sponsored-container section a {
    color: var(--ravenclaw-text-color);
}

.sponsored-container section {
    border: 0.5px solid var(--gryffindor-accent-color);
    margin: 0.25rem 1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
}

.sponsor-line {
    height: 0.5px;
    width: 100%;
    margin: 0.75rem auto;
    border: none;
    border-top: 1px solid black;
}

.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.list section {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 320px;
    margin: 0;
    padding: 0.25rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: #bbb;
}

.card {
    text-align: center;
    padding: 0.75rem;
}

footer {
    text-align: center;
    font-size: 75%;
    padding: 0.75rem;
}

footer p {
    padding: 0;
    line-height: 1.5;
}

#footer-name {
    font-weight: bold;
}

.footer-nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer-nav-options img {
    width: 75px;
    height: auto;
}

#x-footer-nav-image {
    width: 35px;
}

.footer-nav-options a {
    text-decoration: none;
    text-align: center;
    color: var(--theme-text-color);
    padding: 0.25rem;
}

.footer-nav-options a:hover {
    color: var(--theme-text-color);
    font-weight: bold;
    background-color: black;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

hr {
    height: 0.5px;
    width: 55%;
    margin: 0.75rem auto;
    border: none;
    border-top: 1px solid var(--main-background-color);
}

/* Join page */
.form-header-text, .form {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#form-header-text h2 {
    padding: 1rem 0 0.5rem 0;
    font-size: 1.5em;
}

#membership-levels h2,
#membership-levels h3 {
    padding-bottom: 0.5rem;
}

.form label {
    display: block;
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    max-width: 400px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea {
    display: block;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.label-header {
    font-weight: bold;
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

.level-radio label {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
}

.radio-label-text {
    padding-left: 0.5rem;
}

input[type="radio"] {
    width: 19px;
    height: 19px;
}

.form button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    height: 45px;
    font-size: 125%;
    font-weight: bold;
}

.membership-levels-button {
    display: inline-block;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    transition: 0.3s ease;
    text-decoration: none;
}

#nonprofit-level-button {
    background: linear-gradient(45deg, var(--gryffindor-accent-color), var(--gryffindor-text-color));
    color: black;
}

#nonprofit-level-button:hover {
    background: linear-gradient(45deg, var(--gryffindor-text-color), var(--gryffindor-accent-color));
    transform: scale(1.05);
}

#bronze-level-button {
    background: linear-gradient(45deg, var(--ravenclaw-accent-color), var(--ravenclaw-text-color));
    color: black;
}

#bronze-level-button:hover {
    background: linear-gradient(45deg, var(--ravenclaw-text-color), var(--ravenclaw-accent-color));
    transform: scale(1.05);
}

#silver-level-button {
    background: linear-gradient(45deg, var(--hufflepuff-accent-color), var(--hufflepuff-text-color));
    color: black;
}

#silver-level-button:hover {
    background: linear-gradient(45deg, var(--hufflepuff-text-color), var(--hufflepuff-accent-color));
    transform: scale(1.05);
}

#gold-level-button {
    background: linear-gradient(45deg, var(--slytherin-accent-color), var(--slytherin-text-color));
    color: black;
}

#gold-level-button:hover {
    background: linear-gradient(45deg, var(--slytherin-text-color), var(--slytherin-accent-color));
    transform: scale(1.05);
}

#nonprofit-section {
    border: solid 1px var(--gryffindor-text-color);
}

.nonprofit-level-header {
    color: var(--gryffindor-text-color);
    font-size: 1.5em;
}

#bronze-section {
    border: solid 1px var(--ravenclaw-text-color);
}

.bronze-level-header {
    color: var(--ravenclaw-text-color);
    font-size: 1.5em;
}

#silver-section {
    border: solid 1px black;
}

.silver-level-header {
    color: var(--hufflepuff-text-color);
    font-size: 1.5em;
}

#gold-section {
    border: solid 1px var(--slytherin-text-color);
}

.gold-level-header {
    color: var(--slytherin-text-color);
    font-size: 1.5em;
}

/* Got help for positioning dialog box on screen with a Bing search for "center html dialog element on screen css" */
dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

dialog h4 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    padding-bottom: 1rem;
    text-align: left;
}

.annual-cost {
    text-align: center;
    font-weight: bold;
}

.benefits-list, #results ul {
    margin-left: 1.25rem;
}

.benefits-list li, #results li {
    text-align: left;
    padding-bottom: 0.5rem;
}

/* Thank You page */
#results {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

#results h2 {
    padding-bottom: 1rem;
    text-decoration: underline;
    text-underline-offset: 8px;
}