:root {
    --main-background-color: #F4F5F4;
    --theme-text-color: #CFAB38;
    --gryffindor-text-color: #AE0001;
    --gryffindor-accent-color: #EEBA35;
    --slytherin-text-color: #0E5B51;
    --slytherin-accent-color: #A2A2A2;
    --ravenclaw-text-color: #0B5A89;
    --ravenclaw-accent-color: #A2ABB2;
    --hufflepuff-text-color: black;
    --hufflepuff-accent-color: #ECAF1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-background-color);
}

nav,
footer {
    color: var(--theme-text-color);
    background-color: black;
    text-align: center;
    font-family: "Inknut Antiqua", serif;
}

nav {
    padding: 1rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.image-text-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.5rem;
}

.nav-header-text {
    margin-left: auto;
    margin-right: auto;
}

#nav-logo-title {
    font-size: 200%;
    font-weight: bold;
    margin: 1.5rem 0 0.5rem 0;

}

.logo-image {
    margin-right: 1.25rem;
    width: 115px;
    height: 115px;
}

.nav-options {
    list-style: none;
    text-align: center;
    padding: 0;
}

#sub-nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

#sub-nav ul {
    overflow: hidden;
}

#sub-nav.open {
    grid-template-rows: 1fr;
}

.nav-options a {
    display: block;
    text-decoration: none;
    color: var(--theme-text-color);
    background-color: black;
    padding: 0.5rem;
}

.nav-options a:hover {
    color: black;
    font-weight: bold;
    background-color: var(--main-background-color);
}

.active::before {
    content: "*  ";
}

#menu {
    display: block;
    text-decoration: none;
    position: absolute;
    align-items: center;
}

/* Location of nav menu button */
#menu {
    top: 0.9rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
    font-size: 125%;
}

#menu.open::before {
    content: "X";
    font-size: 125%;
}

.hero-callouts {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: var(--main-background-color);
}

.hero {
    grid-area: 1 / 1 / 2 / 2;
}

.hero img {
    width: 100%;
    height: auto;
}

.callouts-index {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
}

.callout-data-index {
    padding-bottom: 2.5rem;
    padding-right: 2rem;
}

.callout-data, h1 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    color: var(--gryffindor-text-color);
}

.callout-data-header>h1 {
    margin: 0.5rem 0 0.75rem 0;
}

.callout-data-header,
.callout-data-subheader {
    font-size: 125%;
}

.callout-data-subheader {
    padding-bottom: 1rem;
}

.display-options {
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-align: center;
}

.display-options button, #index-button {
    padding: 1rem;
    font-weight: bold;
    font-size: larger;
    font-family: "Roboto", sans-serif;
}

/* Got help with this button styling from a Bing search for "cool html button styles css" */
#index-button {
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(45deg, var(--gryffindor-accent-color), var(--gryffindor-text-color));
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 25px;
    transition: 0.3s ease;
    text-decoration: none;
}

#index-button:hover {
    background: linear-gradient(45deg, var(--gryffindor-text-color), var(--gryffindor-accent-color));
    transform: scale(1.1);
}

h1 {
    margin: 0;
}

#section1, #section2, #section3 {
    margin: 1rem;
    border: 0.5px solid var(--gryffindor-accent-color);
    background-color: white;
}

#sectionsContainer h2 {
    text-align: center;
    background-color: var(--gryffindor-accent-color);
    border: 0.5px solid var(--gryffindor-accent-color);
    padding: 0.5rem;    
}

.event-list {
    margin: 1rem 2rem;
    color: var(--ravenclaw-text-color);
}

.event-list li {
    line-height: 2em;
}

#current-weather-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

#current-weather-image-text-column1 img {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#current-weather-image-text-column2 {
    text-align: left;
    padding: 0.75rem 1rem;
}

#current-weather-image-text-column2 p {
    line-height: 1.5em;
    color: var(--slytherin-text-color);
}

#section3 p {
    line-height: 2em;
    font-size: larger;
    padding-left: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.container section {
    border: 0.5px solid black;
    border-radius: 5px;
    margin: 0.25rem 1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
}

section h2 {
    font-size: 118%;
}

.container section a, .sponsored-container section a {
    color: var(--ravenclaw-text-color);
}

.sponsored-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5rem;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

.sponsored-container section {
    border: 0.5px solid var(--gryffindor-accent-color);
    margin: 0.25rem 1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
}

.sponsor-line {
    height: 0.5px;
    width: 100%;
    margin: 0.75rem auto;
    border: none;
    border-top: 1px solid black;
}

.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.list section {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 320px;
    margin: 0;
    padding: 0.25rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: #bbb;
}

.card {
    text-align: center;
    padding: 0.75rem;
}

footer {
    text-align: center;
    font-size: 75%;
    padding: 0.75rem;
}

footer p {
    padding: 0;
    line-height: 1.5;
}

#footer-name {
    font-weight: bold;
}

.footer-nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer-nav-options img {
    width: 75px;
    height: auto;
}

#x-footer-nav-image {
    width: 35px;
}

.footer-nav-options a {
    text-decoration: none;
    text-align: center;
    color: var(--theme-text-color);
    padding: 0.25rem;
}

.footer-nav-options a:hover {
    color: var(--theme-text-color);
    font-weight: bold;
    background-color: black;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

hr {
    height: 0.5px;
    width: 55%;
    margin: 0.75rem auto;
    border: none;
    border-top: 1px solid var(--main-background-color);
}